mixin assignmentPreview(title,due,description,assignmentId,courseId,points,grade,submitted,feedback,returned,materials)
    h3  #{title}
    hr
    div 
        b Due:
        - due = due.toString().substr(0,24)
        - dueDate = new Date(due)
        - now = new Date()
        span  #{due}
    div #{description}
    div 
        if materials
            a.red-link(href=`${materials}` target="_blank") Materials
    div
        strong Points Possible: 
        span #{points}
    div
        strong Grade: 
        if grade
            span #{grade}
        else 
            span None
    div
        if(submitted)    
            a.red-link(href=`${submitted}` target="_blank") Submitted Files
        else
            b No Submitted Files
    div
        strong Feedback: 
        if(feedback)    
            span #{feedback}
        else
            span None 
    div
        strong Returned Files: 
        if(returned)    
            a(href="returned" target="_blank")
        else
            span None
    if now < dueDate
        form.mt-2.no-gutters(form action="../assignments/upload" enctype="multipart/form-data" method="POST")
            input(type="hidden" name="assignmentId" value= `${assignmentId}`)
            input(type="hidden" name="courseId" value= `${courseId}`)
            .form-row
            .col
                input.form-control-file(name="assignmentFile" type="file" placeholder="Upload Files..." required)
            .form-row.mt-2
            .col
                button.btn.red-btn.mt-2(type="submit") Submit
    else   
        div This assignment can no longer be submitted.