mixin assignmentPreview(title,due,description,id,points,grade,submitted,feedback,returned,materials)
    h3  #{title}
    hr
    div 
        b Due:
        span  #{due}
    div #{description}
    div 
        if materials
            a.red-link(href=`uploads/assignmentInfoUploads/${id}` target="_blank") Materials
    div
        strong Points Possible: 
        span #{points}
    div
        strong Grade: 
        if grade
            span #{grade}
        else 
            span None
    div
        if(submitted)    
            a.red-link(href=`uploads/assignmentInfoUploads/${submitted}` target="_blank") Submitted Files
        else
            b No Submitted Files
    div
        strong Feedback: 
        if(feedback)    
            span #{feedback}
        else
            span None 
    div
        strong Returned Files: 
        if(returned)    
            a(href="returned" target="_blank")
        else
            span None
    form.mt-2.no-gutters(method="GET" action="/")
        .form-row
        .col
            input.form-control-file(type="file" placeholder="Upload Files..." required)
        .form-row.mt-2
        .col
            button.btn.red-btn.mt-2(type="submit") Submit