//  Attributes of assignment elements

    assignment_id
    title
    type
    grade
    possible
    
    courseGrades:
    type
    weight
    average

    overall:
    type
    weight
    average

mixin gradesTables(assignments,courseGrades,overallGrade)
    .col-lg-6.table-responsive-sm.mb-3
        table.table-sm.table-striped.table-bordered.w-100
            thead.text-center
                tr
                    th(scope="col").px-2 Assignment
                    th(scope="col").px-2 Grade
                    th(scope="col").px-2 Type
            tbody.align-middle.text-center
                each assignment in assignments
                    tr
                        td.px-2 
                            a(href=`assignments/${assignment.assignment_id}`).red-link= assignment.title
                            //00:00:00 to be assignment.dueDate
                            div Due: #{assignment.duedate}
                        td.px-2.text-nowrap
                            if assignment.grade
                                //20 will soon become assignment.gradePossible
                                div #{assignment.grade} / #{assignment.maxpoints} 
                            else
                                div -/20
                        td.px-2
                            div #{assignment.type}                         
    .col-lg-6.table-responsive-sm.mb-3
        table.table-sm.table-striped.table-bordered.w-100
            thead.text-center
                tr
                    th(scope="col").px-2 Assignment Type
                    th(scope="col").px-2 Weight
                    th(scope="col").px-2 Average
            tbody.align-middle.text-center
                each assignmentType in courseGrades
                    if assignmentType.type == 'Overall'
                        tr#red-row
                            td.px-2.font-weight-bold
                                div #{assignmentType.type}
                            td.px-2
                                div #{assignmentType.weight}
                            td.px-2.text-nowrap
                                if assignmentType.average
                                    div #{assignmentType.average} / #{assignmentType.weight} 
                                else
                                    div -/#{assignmentType.weight}
                    else
                        tr
                            td.px-2.font-weight-bold 
                                div #{assignmentType.type}
                            td.px-2
                                div #{assignmentType.weight}
                            td.px-2.text-nowrap
                                if assignmentType.average
                                    div #{assignmentType.average} / #{assignmentType.weight} 
                                else
                                    div -/#{assignmentType.weight}
                tr#red-row
                    td.px-2.font-weight-bold
                        div Overall
                    td.px-2
                        div 100
                    td.px-2.text-nowrap
                        div #{overallGrade.overall}
                


